<div class="flex w-full max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
  <!-- Sección del formulario -->
  <div class="w-1/2 p-8 flex flex-col justify-center">
    <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Inicia Sesión</h2>

    <!-- Agregamos formGroup -->
    <form [formGroup]="loginForm" class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-900">Correo Electrónico</label>
        <input type="email" id="email" formControlName="email"
          class="mt-1 block w-full p-2.5 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
          placeholder="name@domain.com" required />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-900">Contraseña</label>
        <input type="password" id="password" formControlName="password"
          class="mt-1 block w-full p-2.5 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
          placeholder="Password" required />
      </div>
      <div class="flex items-center">
        <input id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-blue-300">
        <label for="remember" class="ml-2 text-sm font-medium text-gray-900">Recuérdame</label>
      </div>
      <button type="button" (click)="iniciarSesion()"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5">
        Iniciar Sesión
      </button>
    </form>

    <div class="mt-4 text-center">
      <p class="text-sm text-gray-700">
        ¿No tienes cuenta?
        <a href="#" class="text-blue-600 hover:underline">Regístrate aquí</a>
      </p>
      <p class="text-sm text-gray-700 mt-2">
        ¿Olvidaste tu contraseña?
        <a href="#" class="text-blue-600 hover:underline">Recuperar aquí</a>
      </p>
    </div>
  </div>

  <!-- Sección de la imagen -->
  <div class="w-1/2 bg-blue-500 flex items-center justify-center">
    <img src="/assets/images/20.png" alt="Logo de la empresa" class="h-full w-full object-cover">
  </div>
</div>
